
$color-orange: hsl(25, 97%, 53%);
$color-white: hsl(0, 0%, 100%);
$color-lightGrey: hsl(217, 12%, 63%);
$color-mediumGrey: hsl(216, 12%, 54%);
$color-darkBlue: hsl(213, 19%, 18%);
$color-veryDarkBlue: hsl(216, 12%, 8%);

$font-base: 10px;

//breakpoints for RWD
$bp-md: 768px;
$bp-lg: 1240px;